input{
  height: 50px;
  width: 500px;
}
input.ng-pristine
{
    background-color: yellow;
}

input.ng-invalid
{
    border-left: 2px solid red;

}

input.ng-valid
{
    border-left : 2px solid green;
}

span{
     color: red;
}