
<form #regForm="ngForm" (ngSubmit)="Register(regForm)">
    <div>
        <label for="txtName"> Enter Name </label>
        <input type="text" #name="ngModel" 
        pattern="[A-Za-z ]+"
        ngModel name="txtName" required minlength="10">
          <!-- <div>   
         {{name.className}}

          </div> -->
          <div *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors?.['required']">
                <span> NAme is must </span>
            </div>
            <div *ngIf="name.errors?.['pattern']">
                <span> Onlky alphabets allowed </span>
            </div>
            <div *ngIf="name.errors?.['minlength']">
                <span>Min 10 charcater are needed </span>
            </div>
          
            
          </div>
        </div>
    <div>
        <label for="txtAge"> Enter Age </label>
        <input type="number" #age="ngModel" required min="20" max="40" ngModel name="txtAge">
    
        <div *ngIf="age.touched && age.invalid">
            <div *ngIf="age.errors?.['required']">
                <span> * </span>
            </div>
            <div *ngIf="age.errors?.['min']">
                <span> Min age is 20 </span>
            </div>
            <div *ngIf="age.errors?.['max']">
                <span> Max age is 30 </span>
            </div>
        </div>
    
    </div>

    
    <div>
        <label for="txtAddress"> Enter Address </label>
        <input type="text" ngModel name="txtAddress">
    </div>


    <button type="submit" [disabled]="regForm.invalid"> Register </button>
</form>