<form [formGroup]="signUpForm" (ngSubmit)="Submit(signUpForm)">
    <div>
        <label for="FirstName"> Enter FirstName </label>
    <input type="text" formControlName="FirstName" name="FirstName">
    <div *ngIf="signUpForm.controls['FirstName'].errors">
   
        <div *ngIf="signUpForm.controls['FirstName'].hasError('required')">
         Title is required</div>
         <div *ngIf="signUpForm.controls['FirstName'].hasError('minlength')">
          minlength is required</div>
      </div>
  
    </div>

    <div>
        <label for="LastName"> Enter LastName </label>
    <input type="text" formControlName="LastName" name="LastName">

    </div>

    <div>
        <label for="EMail"> Enter Email </label>
    <input type="email" formControlName="Email" name="Email">

    </div>

    <div>
        <label for="Password"> Enter Password </label>
    <input type="password" formControlName="Password" name="Password">

    </div>
    <button type="submit"> Submit </button>
</form>